
    h1 {font-style: italic;}
    h2 {color: white; font-family: serif;} 
    h3 {color: brown;font-family:  serif;}
    h4 {color:  brown;font-family: serif;}
    
    [class*="col-"] {
  float: left;
  padding: 15px;
}

    /*  mobile : */
[class*="col-"] {
    width: 100%;
  }

  @media only screen and (min-width: 600px) {
    /* tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /*  desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

    .neonText 
    {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    text-align: center;
    animation: flicker 1.5s infinite alternate;
    color: #fff;
    }
    @keyframes flicker {

0%, 18%, 22%, 25%, 53%, 57%, 100% {

    text-shadow:
    0 0 4px #fff,
    0 0 11px #fff,
    0 0 19px #fff,
    0 0 40px #ff00ff,
    0 0 80px #ff00ff,
    0 0 90px #ff00ff,
    0 0 100px #ff00ff,
    0 0 150px #ff00ff;

}

20%, 24%, 55% {        
    text-shadow: none;
}    
}
    .headtext
    {
    text-align: center;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 30%;
    left: 40%;
    bottom: auto;
    white-space: nowrap;
    }

    .back
    {
     display: block;
     margin: 0 auto;
     width: 40%;
    }
    .myself
    {
        object-fit: cover;
        border-radius: 10px;
        position: absolute;
        width: 30%;
        height: 40%;
        top: 20%;
        left: 20%;
    }
    .backimg
    {
        filter: blur(1px);
        backdrop-filter: blur(10px);
        opacity: 0.8;
        object-fit: fill;
    position: absolute;
    box-shadow: 0px 0px 20px 20px #0b668a;
    border-radius: 10px;
    width: 80%;
    height: 70%;
    top: 20%;
    left: 10%;
    }
    .centered
    {
    position: absolute;
    top: 70%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    }
    .video
    {
    object-fit: cover;
    position: absolute;
    height: 25%;
    width: 20%;
    top: 37%;
    left: 50%;
    z-index: 2;
    border-radius: 10px;
    background-color: rgb(44, 44, 44);
    }
    .contact
    {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: grey;
    }
    .endnavbar{  
      box-shadow:0px 0px 8px 10px #000000;
      border-radius: 20px;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 15%;
      background-color: rgb(95, 5, 5);
      color: white;
      text-align: left;
  
    }

    .ulsecond{
    width: 100%;
    justify-content: center;
    align-items: center; 
    list-style: none;
    display: flex;
    }

    .ulsecond li{
    margin: 0 1rem;
    width: 1000%;
    }